{% extends 'estacionamento/index.html' %}
{% block main %}
<h1>Lista de Pessoas</h1>
  <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Endereço</th>
    </tr>
  </thead>
  <tbody class="text-uppercase">
    {% for people in peoples %}
      <tr>
        <th scope="row"><a href="{% url 'detail_people' people.id %}">{{people.id}}</a></th>
        <td>{{people.name}}</td>
        <td>{{people.telephone}}</td>
        <td>{{people.address}}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  <button type="button" class="btn btn-primary">
    <a href="{% url 'new_people' %}" style="color:white">Novo</a>
  </button>
  <button type="button" class="btn btn-info">
    <a href="{% url 'relatorio_people' 'people' %}" style="color:white">Gerar Relatório</a>
  </button>
{% endblock %}
