{% extends 'estacionamento/index.html' %}
{% block main %}
<h1>Lista de Rotativos</h1>
  <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Entrada</th>
      <th scope="col">Saida</th>
      <th scope="col">Pago</th>
      <th scope="col">Veiculo</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody class="text-uppercase">
    {% for rotary in rotaries %}
      <tr>
        <th scope="row"><a href="{% url 'detail_rotary' rotary.id %}">{{rotary.id}}</a></th>
        <td>{{rotary.input}}</td>
        <td>{{rotary.output}}</td>
        <td>{{rotary.paid}}</td>
        <td>{{rotary.vehicle}}</td>
        <td>{{rotary.total_hour}}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  <button type="button" class="btn btn-primary">
    <a href="{% url 'new_rotary' %}" style="color:white">Novo</a>
  </button>
  <button type="button" class="btn btn-info">
    <a href="{% url 'relatorio_people' 'rotary' %}" style="color:white">Gerar Relatório</a>
  </button>
{% endblock %}
